/* Quote of the Day */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  box-sizing: border-box;
}

.quote__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #0d1b2a, #1b263b, #415a77);
}

.banner__container {
  width: 50%;
  height: 40rem;
  text-align: center;
  color: #e0e1dd;
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    135deg,
    rgba(13, 27, 42, 0.6),
    rgba(27, 38, 59, 0.6),
    rgb(65, 90, 119, 0.6)
  );
}

.title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  color: #e0e1dd;
}

.banner__quote {
  font-size: 3.8rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  margin-bottom: 2.4rem;
  color: #f0f1ed;
}

.banner__author {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #a3a5a8;
}

.author_anchor {
  display: block;
  font-size: 2.1rem;
}

.author_name {
  display: block;
  font-size: 2.4rem;
}
