/* Quote of the Day */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

.header__container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #0d1b2a, #1b263b, #415a77);
}
